<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <title>Spring Security Example </title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-show-password/1.1.2/bootstrap-show-password.js" integrity="sha256-0uthcJj3b5h08sw5f+KSSrbc+1m61X4ERFjws2/fbeY=" crossorigin="anonymous"></script>

</head>
<div class="container">

    <div class="row" style="margin-top:20px">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
			<h1>Registration Form</h1>
			<form action="/registration" th:object="${user}" method="POST" enctype="utf8">
				<div class="form-group">
					<input type="text" class="form-control" th:field="*{name}" placeholder="Name"  autofocus="true"/>
					<p th:each="error : ${#fields.errors('name')}" th:text="${error}">Validation error</p>
				</div>
				<div class="form-group">
					<input type="text" class="form-control" th:field="*{surname}" placeholder="Surname" />
					<p th:each="error : ${#fields.errors('surname')}" th:text="${error}">Validation error</p>
				</div>
				<div class="form-group">
					<input type="text" class="form-control" th:field="*{email}" placeholder="Email" />
					<p th:each="error : ${#fields.errors('email')}" th:text="${error}">Validation error</p>
				</div>
				<div class="form-group">
					<input type="text" class="form-control" th:field="*{studentInfo.passportId}" placeholder="Passport Id" />
					<p th:each="error : ${#fields.errors('studentInfo.passportId')}" th:text="${error}">Validation error</p>
				</div>
				<div class="form-group">
					<input type="text" class="form-control" th:field="*{studentInfo.socialCardId}" placeholder="Social Card Id" />
					<p th:each="error : ${#fields.errors('studentInfo.socialCardId')}" th:text="${error}">Validation error</p>
				</div>
				<div class="form-group">
<!-- 					<input type="text" class="form-control" th:field="*{studentInfo.birthDate}" placeholder="Birth Date" /> -->
				    <input class="form-control" type="date" th:field="*{studentInfo.birthDate}" placeholder="Birth Date" />
					<p th:each="error : ${#fields.errors('studentInfo.birthDate')}" th:text="${error}">Validation error</p>
				</div>
				<div class="form-group">
					<input type="text" class="form-control" th:field="*{studentInfo.imageUrl}" placeholder="Image" />
					<p th:each="error : ${#fields.errors('studentInfo.imageUrl')}" th:text="${error}">Validation error</p>
				</div>
				<div class="form-group">
					<div class="input-group">
									<input type="password" id="password" class="form-control" th:field="*{password}" placeholder="Password" />
					  <div class="input-group-append">
					    <span class="input-group-text" id="basic-addon2" >
					      <i class="fa fa-eye toggle-password" ></i>
					    </span>
					  </div>
					</div>
					<p th:each="error : ${#fields.errors('password')}" th:text="${error}">Validation error</p>
				</div>
                     <div class="row"> 
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <input type="submit" class="btn btn-lg btn-primary btn-block" value="Submit"/>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                        	<a class="btn btn-link" th:href="@{/login}">Login</a>
                        </div>
                    </div>
			</form>
        </div>
    </div>

</div>
</body>
	<script type="text/javascript">
	$("body").on('click', '.toggle-password', function() {
		  $(this).toggleClass("fas fa-eye-slash");
		  var input = $("#password");
		  if (input.attr("type") === "password") {
		    input.attr("type", "text");
		  } else {
		    input.attr("type", "password");
		  }

		});
	</script>

</html>